body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-red {
    background-color: #F34236;
}
.bg-white {
    background-color: #FFF;
}
.bg-grey {
    background-color: #F3F3F3;
}
.bg-dark-black {
    background-color: #121212;
}
.bg-black {
    background-color: #171717;
}

.container {
    display: inline-block;
    width: 1100px;
    margin: 0 calc(50% - 550px);
    padding: 80px 0;
}
@media (max-width: 1200px) {
    .container {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}
@media (max-width: 900px) {
    .container {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}
@media (max-width: 700px) {
    .container {
        width: 100%;
        margin: 0;
    }
}

.centered-text {
    text-align:center;
}

.section-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    position: relative;
}
    .section-title > span {
        color: #F34236;
    }
    .section-title::after {
        display: inline-block;
        content: "";
        width: 60px;
        height: 3px;
        background-color: #121212;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 30px);
    }
    .section-title.title-left {
        text-align: left;
    }
        .section-title.title-left::after {
            left: 0;
        }
    .section-title.title-right {
        text-align: right;
    }
        .section-title.title-right::after {
            right: 0;
            left: auto;
        }

/* header */
#header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 1;
    box-shadow: 0px 2px 8px #CCC;
}
    #header > .container {
        padding: 15px 0;
        text-transform: uppercase;
    }

        #header .logo {
            display:inline-block;
            float: left;
            font-size: 25px;
            line-height: 25px;
            color: #F34236;
        }

        #header nav {
            display:inline-block;
            float: right;
        }

        #header a {
            text-decoration: none;
            color: #121212;
        }

            #header nav > a {
                padding: 10px;
                background-color: transparent;
                border-radius: 30px;
            }


/* hero */
#hero {
    background-color: #121212;
    color: #FFF;
    height: 100vh;
}

/* about me */

/* my services */
.service-list {
    display: inline-block;
    width: 100%;
}
    .service-list > .service {
        display: inline-block;
        float: left;
        margin-right: 30px;
        width: calc( (100% - 2 * 30px) / 3 );
        padding: 20px;
        box-shadow: 0 4px 16px #CCC9;
        background-color: #FFF;
    }
        .service-list > .service:nth-child(3n) {
            margin-right: 0;
        }
    

/* my resume */

/* freelance */

/* my portfolio */

/* testimonials */
.testimonial {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    color: #333;
}
    .testimonial > * {
        margin-bottom: 20px;
    }
    #visible_testimonial > img {
        display: inline-block;
        height: 100px;
        background-image: url(img/blog/face1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        border-radius: 50%;
    }
    #testimonials .btn {
        margin: 0 4px;
    }

/* my blog */
.blog-list {
    display: inline-block;
    width: 100%;
}
    .blog-list > .blog {
        display: inline-block;
        float: left;
        margin-right: 30px;
        width: calc( (100% - 2 * 30px) / 3 );
        padding: 20px;
        box-shadow: 0 4px 16px #CCC9;
        background-color: #FFF;
    }
        .blog-list > .blog:nth-child(3n) {
            margin-right: 0;
        }
        .blog-list > .blog > .img {
            display: inline-block;
            height: 100px;
            width: 100%;
            background-image: url(img/blog/p1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

/* contact me */

/* footer */
#footer {
    color: #FFF;
    text-align: center;
}
    #footer_top > .container {
        padding: 30px 0;
    }
    #footer_bottom > .container {
        padding: 15px 0;
    }